body{
  --taxi-yellow: #bda449;
  --taxi-black: black;
}
.bg-black{
  background-color: black;
  color: whitesmoke;
}
.btn-yellow{
  background-color: var(--taxi-yellow);
  color: var(--taxi-black);
}
#page-container{
  background-image: url(../images/contact-bg.png);
  object-fit: fill;
  background-repeat: repeat;
  background-position-y: -95px;
}
.translucent{
  opacity: 0.9;
}